---
import NetspectiveLayout from "../../layouts/ds/tailwind/NetspectiveLayout.astro";
import { route } from "../../lib/native/route";
import { getCollection } from "astro:content";

export const intellectualPropertyCollection = "ip" as const; // export required because Astro needs it in getStaticPaths()
export const intellectualPropertyCollectionEntries = await getCollection<typeof intellectualPropertyCollection>(intellectualPropertyCollection);
export async function getStaticPaths() {
  return intellectualPropertyCollectionEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const r = route(Astro, { originFsPath: "src/pages/[...slug].astro" }, { entry: {collection: intellectualPropertyCollection, entry } });

export function formatDate(dateString: string | number | Date) {
  const date = new Date(dateString);
  const options = { year: 'numeric', month: 'short', day: 'numeric' };
  return date.toLocaleDateString(undefined, options);
  
}

export function formattedCurrentDate(dateString: string | number | Date) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
---
<NetspectiveLayout route={r}>
  <main>
    <section class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
    <article class="pt-3 pb-2">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-7">
        <div class="col-span-1 md:col-span-12 lg:col-span-8 curated-content">
          <h1>{ entry.data.title }</h1>        
            <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 my-5">
              <img class="object-cover w-full h-48 md:h-auto md:w-64 p-3" src={ entry.data.thumbnail } alt="">
              <div class="flex flex-col justify-between p-4 leading-normal">
                  <!-- <h3 class="font-semibold">Patent Details</h3> -->
                  <div class="mb-1"><span class="text-gray-500 mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                      </svg>Patent Number:</span><span class="font-medium">{ entry.data.uspto_publication_number }</span></div>

                    <div class="mb-1"><span class="text-gray-500 mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                      </svg>Date Issued:</span><span class="font-medium">{ formatDate(entry.data.issue_date) }</span></div>

                    <div class="mb-1"><span class="text-gray-500 mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                      </svg>Inventors:</span><span class="font-medium">{ entry.data.inventor }</span></div>

                    <div class="mb-1"><span class="text-gray-500 mr-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2 inline-block">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>Categories:</span><span class="font-medium">{ entry.data.topics }</span></div>
              
              </div>
            </div>
            <Content/>
            <div class="clear"></div>
        </div>
        <div class="col-span-1 md:col-span-12 lg:col-span-4 right-section">        
          <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <div class="flex items-center justify-between bg-orange-600 text-white px-4 py-3">
                <div class="text-2xl font-medium">{ entry.data.uspto_publication_number }</div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-12 gap-4 px-4 py-2 bg-orange-700 text-white text-sm">
            <div class="col-span-1 md:col-span-12"><a href={ entry.data.uspto_patent_pdf } target="_blank" class="text-white hover:text-gray-300"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2 inline-block">
              <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625zM7.5 15a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 017.5 15zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H8.25z" clip-rule="evenodd" />
              <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
            </svg>Download PDF</a></div>
            </div>
                <aside class="text-sm px-4 py-3">
                  <div class="mb-1">
                    <span class="mr-2 font-medium">Inventor:</span><span class="text-gray-500"><a href="#.">{ entry.data.inventor }</a></span>
                    </div>
                    <div class="mb-1">
                      <span class="mr-2 font-medium">Current Assignee:</span><span class="text-gray-500">{ entry.data.current_assignee }</span>
                      </div>
                </aside>
                <hr>
                <aside class="text-sm mt-3 mb-3">
                  <span class="font-medium block px-4 pb-3">Application { entry.data.uspto_publication_number } events</span>
                  <ul role="list">
                    <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">{formattedCurrentDate(entry.data.issue_date)}</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Application filed by {entry.data.application_date}</div>
                      </div>
                    </li>
                    <!-- <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">2002-07-12</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Priority to US10/194,646</div>
                      </div>
                    </li> -->
                    <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">{formattedCurrentDate(entry.data.expiry_date)}</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Publication of { entry.data.uspto_publication_number }</div>
                      </div>
                    </li>
                    <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">{formattedCurrentDate(entry.data.application_date)}</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Application granted</div>
                      </div>
                    </li>
                    <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">{entry.data.uspto_patent_family_members_publication_numbers}</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Family Members</div>
                      </div>
                    </li> 
                  </ul>
                </aside>
                <hr>
                <aside class="text-sm mt-3 mb-3 px-4 pb-3">
                  <div class="mb-2"><span class="mr-2 font-medium">Territorial Scope:</span><span class="text-gray-500">{entry.data.territorial_scope}</span></div>
                  <div class="mb-2"><span class="mr-2 font-medium">Patent Owner's Rights:</span><span class="text-gray-500">{entry.data.patent_owners_rights}</span></div>
                  <div class="mb-2"><span class="mr-2 font-medium">External link:</span><span class="text-gray-500"><a href={entry.data.uspto_patent_url}>{entry.data.uspto_patent_url}</a></span></div>
                </aside>
          </div>
        </div>
      </div>
    </article>
    </section>
  </main>
</NetspectiveLayout>

