---
import NetspectiveLayout from "../../layouts/ds/tailwind/NetspectiveLayout.astro";
import { route } from "../../lib/native/route";
import { getCollection } from "astro:content";

export const intellectualPropertyCollection = "ip" as const; // export required because Astro needs it in getStaticPaths()
export const intellectualPropertyCollectionEntries = await getCollection<typeof intellectualPropertyCollection>(intellectualPropertyCollection);
export async function getStaticPaths() {
  return intellectualPropertyCollectionEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
console.log(entry.data.topics);
const r = route(Astro, { originFsPath: "src/pages/[...slug].astro" }, { entry: {collection: intellectualPropertyCollection, entry } });

export function formatDate(dateString: string | number | Date) {
  const date = new Date(dateString);
  const options = { year: 'numeric', month: 'short', day: 'numeric' };
  return date.toLocaleDateString(undefined, options);
  
}

export function formattedCurrentDate(dateString: string | number | Date) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
---
<NetspectiveLayout route={r}>
  <main>
    <section class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
    <article class="pt-3 pb-2">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-7">
        <div class="col-span-1 md:col-span-12 lg:col-span-8 curated-content">
          <h1>{ entry.data.title }</h1>               
            <div class="items-center border border-gray-200 rounded-lg shadow bg-gray-100 hover:bg-gray-200 my-5">
              <div class="grid grid-cols-1 md:grid-cols-12 gap-7 m-4">
                <div class="col-span-1 md:col-span-6 lg:col-span-6"><a href={ entry.data['uspto-patent-pdf'] } target="_blank"><img class="object-cover w-full" src={ entry.data.thumbnail } alt=""></a></div>
                <div class="col-span-1 md:col-span-6 lg:col-span-6 text-xl">
                  { entry.data['problem-solved-by-the-invention'] }  
                </div>
              </div>
            </div>
            <h3>{entry.data['abstract-of-the-invention-label']}</h3>
            <p>{entry.data['abstract-of-the-invention']}</p>
            <Content/>
            <h3>Images ({entry.data.images.length})</h3>
            
            <div class="flex flex-col items-center border border-gray-200 rounded-lg shadow md:flex-row bg-gray-100 hover:bg-gray-200 my-5 p-2 overflow-x-auto">
              {
                entry.data.images.map(
                      (post) => (<img class="object-cover w-full sm:w-36 h-44 m-1" src={"/assets-natural/brand/www.netspective.com/ip/" + post.url}alt="" />
                    
                      ),
                        )
              }
            </div>
            <div>
              <h3>{entry.data['uspto-patent-citation-label']}</h3>
              <p>{entry.data['forward-citations']}</p>
              <p>{entry.data['backward-citations']}</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-span-1 md:col-span-12 lg:col-span-4 right-section">        
          <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
            <div class="flex items-center justify-between bg-orange-600 text-white px-4 py-3">
                <div class="text-2xl font-medium"> { entry.data['uspto-publication-number'] }</div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-12 gap-4 px-4 py-2 bg-orange-700 text-white text-sm">
            <div class="col-span-1 md:col-span-12"><a href={ entry.data['uspto-patent-pdf'] } target="_blank" class="text-white hover:text-gray-300"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-2 inline-block">
              <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625zM7.5 15a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 017.5 15zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H8.25z" clip-rule="evenodd" />
              <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
            </svg>Download PDF</a></div>
            </div>
                <aside class="text-sm px-4 py-3">
                  <div class="mb-1">
                    <span class="mr-2 font-medium">Inventor:</span><span class="text-gray-500"><a href="#.">{ entry.data.inventor }</a></span>
                  </div>
                  <div class="mb-1">
                    <span class="mr-2 font-medium">Current Assignee:</span><span class="text-gray-500">{ entry.data['current-assignee'] }</span>
                  </div>
                  <div class="mb-1">
                    <span class="mr-2 font-medium">Categories:</span>
                    {entry.data.topics &&
                    entry.data.topics.map((topic) => (
                      <span class="bg-gray-100 text-gray-800 text-xs mr-1 mt-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300 inline-block">{topic}</span>                  
                    ))}
                  </div> 
                  <div class="mb-1">
                    <span class="mr-2 font-medium">Family Members:</span><span class="text-gray-500">{entry.data['uspto-patent-family-members-publication-numbers'] }</span>
                  </div>
                </aside>
                <hr>
                <aside class="text-sm mt-3 mb-3">
                  <span class="font-medium block px-4 pb-3">Application { entry.data['uspto-publication-number'] }events</span>
                  <ul role="list">
                    <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">{formattedCurrentDate(entry.data['issue-date'])}</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Application filed by {entry.data['application-date']}</div>
                      </div>
                    </li>
                    <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">{formattedCurrentDate(entry.data['expiry-date'])}</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Publication of  { entry.data['uspto-publication-number'] }</div>
                      </div>
                    </li>
                    <li class="flex justify-between pb-2 px-4 leading-5">
                      <div class="flex-shrink-0 font-medium">{formattedCurrentDate(entry.data['application-date'])}</div>
                      <div class="flex w-0 flex-1 items-center">
                        <div class="ml-4 flex min-w-0 flex-1 gap-2 text-gray-500">Application granted</div>
                      </div>
                    </li>
                  </ul>
                </aside>
                <hr>
                <aside class="text-sm mt-3 mb-3 px-4 pb-3">
                  <div class="mb-2"><span class="mr-2 font-medium">Territorial Scope:</span><span class="text-gray-500">{entry.data['territorial-scope']}</span></div>
                  <div class="mb-2"><span class="mr-2 font-medium">Patent Owner's Rights:</span><span class="text-gray-500">{entry.data['patent-owners-rights']}</span></div>
                  <div class="mb-2"><span class="mr-2 font-medium">External link:</span><span class="text-gray-500 break-all"><a href={entry.data['uspto-patent-url']}>{entry.data['uspto-patent-url']}</a></span></div>
                </aside>
          </div>
        </div>
      </div>
    </article>
    <!-- <div class="grid grid-cols-1 md:grid-cols-12 gap-7 my-3 curated-content text-sm">
      <div class="col-span-1 md:col-span-12 lg:col-span-6">
        <h4>Description</h4>
        <p><b>Background of the invention</b></p>
        <p>1. Field of the Invention</p>
        <p>The present invention generally relates to reusable software application development systems and methods, and more particularly to a computer system for performing reusable software application development from a set of declarative executable specifications.</p>
        <p>2. Description of the Related Art</p>
        <p>For several years computer software applications have been written to improve the productivity of individuals inside an enterprise, such as a company or firm. Even from the early days of computers, software applications have been developed to provide faster payroll processing, improved record-keeping, management of sales, and increase the speed of research and development. With these so-called internal applications in place for decades, studies indicate that enterprises have been able to significantly improve employee productivity.</p>
        <p>Moreover, since the advent and widespread use of the Internet and the World Wide Web (“the Web”), there has been a desire by the management in these enterprises to extend their internal application functionality and technology infrastructure to external parties, such as their customers, partners, vendors, suppliers, and other constituents. For example, instead of a salesperson taking an order over the telephone and then entering that order into the internal company sales software application, enterprises are now allowing their own constituents to create orders directly into their internal applications by allowing access to the enterprise's systems through the Web. This is called extending the enterprise.</p>
        <p><b>Summary of the invention</b></p>
        <p>In view of the foregoing, and other drawbacks and disadvantages of the conventional systems, the present invention has been devised, and it is an object of the present invention, to provide an automated system and method for performing reusable software application development. It is another object of the present invention to provide a business-oriented computer software system comprising multi-components or facets including forms, dialogs, fields, validation rules, static structured query language statements (SQL), dynamic structured query language statements, security roles and permissions, value sources, data sources, database schemata, reports, navigation, and personalization.</p>
        <p>It is yet another object of the present invention to provide a unified system of processing, testing, and documenting these facets. Still another object of the present invention is to provide a computer system and method for automatically generating and processing software code, object instantiations, testable functionality, and implementation documentation from a single set of declarative executable specifications. Yet another object of the present invention is to provide a computer system that allows a software application developer the ability to declare a single set of executable specifications and receive full unit tests, implementation documentation, and end-user application code from the set of specifications. Another object of the present invention is to provide a computer system for performing software application development that allows the executable specifications to be reused across several projects.</p>
        <p><b>Brief description of the drawings</b></p>
        <p>The foregoing and other objects, aspects and advantages will be better understood from the following detailed description of a preferred embodiment(s) of the invention with reference to the drawings, in which:</p>
        <p>FIG. 1 is a system diagram illustrating a preferred embodiment of the present invention;</p>
        <p>FIG. 2 is a system diagram illustrating a preferred embodiment of the present invention;</p>
        <p>FIG. 3 is a system diagram illustrating a preferred embodiment of the present invention;</p>
        <p>FIG. 4 is a system diagram illustrating a preferred embodiment of the present invention;</p>
        <p>FIG. 5 is a system diagram illustrating a preferred embodiment of the present invention;</p>
        <p>FIG. 6 is a system diagram illustrating a preferred embodiment of the present invention;</p>
        <p>FIG. 7 is a flow diagram illustrating a preferred method of the present invention;</p>
        <p>FIG. 8 is a flow diagram illustrating a preferred method of the present invention;</p>
        <p>FIG. 9 is a flow diagram illustrating a preferred method of the present invention;</p>
        <p>FIG. 10 is a flow diagram illustrating a preferred method of the present invention;</p>
        </div>
      <div class="col-span-1 md:col-span-12 lg:col-span-6">
        <h4>Claims (19)</h4>
        <p>1. A computer system for performing reusable software application development, said computer system comprising a multi-component architecture comprising data, wherein said multi-component architecture further comprises:</p>
        <p>a relational database server operatively connected to an application server;</p>
        <p>a presentation component operatively connected to said application server;</p>
        <p>an application component operatively connected to said application server;</p>
        <p>a data component operatively connected to said application server;</p>
        <p>a security and personalization component operatively connected to said presentation component, said application component, and said data component;</p>
        <p>an administration console operatively connected to said presentation component, said application component, and said data component, wherein said administration console comprises said security and personalization component, and wherein said security and personalization component restricts access to said data; and</p>
        <p>declarable executable specifications operatively connected to said security and personalization component, wherein said declarable executable specifications comprise a set of keywords and attributes used to declare a single set of said executable specifications and receive full unit tests, implementation documentation, and end-user application code from said single set of said executable specifications.</p>
        <p>2. The computer system of claim 1, wherein said presentation component comprises an extensible application framework comprising at least one application program interface, wherein said application program interface automates form building engines, data state machine engines, queries engines, reporting engines, access control engines, templating engines, project configuration engines, rule processing engines, and metrics engines.</p>
        <p>3. The computer system of claim 1, wherein said application component comprises an extensible information framework of database structure libraries, wherein said libraries comprise reusable tables, columns, and indexes.</p>
        <p>4. The computer system of claim 1, wherein said data component creates a plurality of database object classes, and wherein said data component comprises data types, table types, tables, and enumerations.</p>
        <p>5. The computer system of claim 1, wherein said administration console responds to operator commands enabling an operator to access said data and said declarable executable specifications.</p>
        <p>6. A computer-implemented method for performing reusable software application development, said method comprising:</p>
        <p>integrating a data processing system;</p>
        <p>providing a set of keywords and attributes in said data processing system;</p>
        <p>declaring a single set of executable specifications using said set of keywords and attributes; and</p>
        <p>receiving full unit tests, implementation documentation, and end-user application code from said single set of said executable specifications.</p>
        <p>7. The method of claim 6, wherein said step of declaring a set of executable specifications comprises:</p>
        <p>generating a program code in said data processing system;</p>
        <p>instantiating an object code in said data processing system;</p>
        <p>generating a testable functionality result in said data processing system;</p>
        <p>generating implementation documentation output in said data processing system;</p>
        <p>generating a performance statistics output in said data processing system; and</p>
        <p>generating a project metrics in said data processing system.</p>
        <p>8. The method of claim 6, wherein said step of providing a set of keywords and attributes comprises generating a set of user interface forms, fields, and validation rules, and wherein said method enables an operator to describe components of a presentation and interface by receiving input from a user.</p>
      </div>
    </div> -->
    </section>
  </main>
</NetspectiveLayout>

